__pycache__/
*.py[cod]
*.so

venv/
env/
.venv/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

*.log

.vscode/

*.h5
*.pth
*.pt
*.ckpt

data/
*.csv
*.zip
*.tar
*.gz

.cache/
*.pickle
*.pkl

build/
dist/
*.egg-info/

.env
*.env

backend/app/postgres-data
inference_yolov8n/build
qt/sign-detection/build
inference_yolov8n/CMakeFiles/
ml_core/ml_resnet34/
qt/sign-detection/.qt
qt/sign-detection/.lupdate
